<?xml version="1.0"?>
<!--
/**
* Digit Software Solutions.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
*
* @category  Dss
* @package   Dss_Easypathhints
* @author    Extension Team
* @copyright Copyright (c) 2024 Digit Software Solutions. ( https://digitsoftsol.com )
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="dss_easypathhints" translate="label" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>dss</tab>
            <label>Easy Template Path Hints</label>
            <resource>Dss_Easypathhints::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enabled" translate="label" type="select" sortOrder="10"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="access_code" translate="label comment" type="text" sortOrder="20"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Code</label>
                    <comment><![CDATA[<strong>Not Empty Access Code</strong>: /?tp=1&code=[access-code]<br />
                    <strong>Empty Access Code</strong>: /?tp=1<br />
                    <strong>Note</strong> that this works both for frontend and admin pages.]]></comment>
                </field>
                <field id="save_in_cookie" translate="label comment" type="select" sortOrder="30"
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Save in Cookie</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                    <![CDATA[If enabled, it will turn on the template path hints until you delete the cookie. <br />
                    <strong>To Enable Cookie</strong>: /?tp=1&code=[access-code]&cookie=1<br />
                    <strong>
                    To Clear cookies
                    </strong>: /?tp=1&code=[access-code]&cookie=0 OR clear browser cookies<br />
                    (Especially useful for debugging post form pages, transactional email templates etc.)]]>
                    </comment>
                </field>
            </group>
        </section>
    </system>
</config>
